body{
    background-color: #eeb9c2;
}

.menu_bar{
    display: grid;
    grid-template-columns: 50% 20% 20% 10%;
    align-items: center;
    padding: 10px;
    background-color: #080705;
    font-size: 20px;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
    color: #eeb9c2;

}

.logo{
    padding-left: 50px ;
    font-size: 36px;
    color: #FFFFFA;
}

.nav_section{
    font-size: 22px;
    text-decoration: none;
}

.additional {
    border: 2px solid #702632;
    background-color: #FFFFFA;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    align-items: center;
}

.additional:hover{
    border: 2px solid #FFFFFA;
    background-color: #702632;
    color: #FFFFFA;
}

.additional:active{
    border: 2px solid #702632;
    background-color: #FFFFFA;
    color: #080705;
}

.list {
    padding-top: 20px;
    display: grid;
}

.status_containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 120px 60px 20px;  
    gap: 20px;
    justify-content: center;
    justify-items: center;      
}

.status {
    border: 4px solid #080705;
    border-radius: 1000px;
    color: #702632;
    font-size: 28px;
    width: 200px;
    height: 200px;
    display: flex;              
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.container_title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.container_box{
    border: 2px solid #080705;
    padding: 5px 10px 5px 10px;
}